Source: ros-rolling-rmw-gurumdds-shared-cpp
Section: misc
Priority: optional
Maintainer: junhui <junhui@gurum.cc>
Build-Depends: debhelper (>= 9.0.0), gurumdds-2.6, ros-rolling-ament-cmake, ros-rolling-ament-lint-auto, ros-rolling-ament-lint-common, ros-rolling-gurumdds-cmake-module, ros-rolling-rcutils, ros-rolling-rmw, ros-rolling-rosidl-cmake, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-rmw-gurumdds-shared-cpp
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gurumdds-2.6, ros-rolling-ament-cmake, ros-rolling-gurumdds-cmake-module, ros-rolling-ros-workspace
Description: Code shared on static and dynamic type support of rmw_gurumdds_cpp.
